html, body {
  height: 100%;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  margin: 50px;
}

.button-parent {
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.tt {
  font-size: 1.5rem;
}

.counter {
  border: 1px solid black;
}