html, body {
  height: 100%;
  text-align: center;
  min-width: 350px;
  background: #D5D5D5;
  color: #9099A2;
  font-family: 'Volkhov', serif;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 4.2rem;
}

body {
  margin: 0;
}

h1 {
  margin: 50px 50px 20px 50px;
}

.button-parent {
  margin: 50px 50px 25px 50px;
  align-items: center;
  justify-content: center;
}

.tt {
  margin-top: 5px;
  font-size: 3.5rem;
  color: #6D7993;
}

.counter {
  margin: 5px 40px;
  background:  rgba(144, 153, 162, 0.5);
  border: 1px solid #96858f;
}

footer {
  font-size: .8rem;
  margin-top: 50px;
}

.srt-btn-div {
  margin-top: 30px;
}

.reduce-session,
.increase-session,
.reduce-break,
.increase-break {
  margin: 0 5px 15px 5px;
  width: 60px;
  height: 50px;
}

.break-div {
  padding-right: 40px;
}

.work-time {
  padding-left: 40px;
}

.timer-type {
  margin-top:15px;
}

#time {
  font-family: 'Roboto Mono', monospace;
  font-size: 5rem;
  color: #96858f;
}

.reduce-session,
.reduce-break {
    background: #96858f;
    /* border-radius: 15px; */
    color: #D5D5D5;
    text-decoration: none;
    outline: 0;
  }
  
  .reduce-session:hover,
  .reduce-break:hover {
    background: #8b7984;
    text-decoration: none;
  }
  
  .reduce-session:focus,
  .reduce-break:focus {
    box-shadow: #96858f !important;
    text-decoration: none;    
    border-color: #96858f !important;
  }

  .reduce-session:active,
  .reduce-break:active {
    background: #776671;
    text-decoration: none;
    box-shadow: #96858f !important;
    border-color: #96858f !important;
   }




@media only screen and (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }

  .break-div {
    margin-right: 0;
    padding-right: 0;
  }
  
  .work-time {
    margin-left: 0;
    padding-left: 0;
  }

  #time {
    font-size: 3rem;
  }

  .tt {
  font-size: 2.2rem;
  }

  .reduce-session,
  .increase-session,
  .reduce-break,
  .increase-break {
    
    padding: 2px;
    margin: 0 5px 15px 5px;
    width: 40px;
    height: 30px;
  }

}


/* div {
color: #96858f; // Dusty
color: #6D7993; // Lavendar
color: #9099A2; // Overcast
color: #D5D5D5; // Paper
} 



  <script type="text/javascript" src="app.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*/
